[submodule "pallets/contact-tracing"]
	path = pallets/contact-tracing
	url = https://github.com/gandhivj/contact-tracing.git
[submodule "pallets/exchangable-id"]
	path = pallets/exchangable-id
	url = https://github.com/gandhivj/exchangable-id.git

